@model IEnumerable<andy250.CaseLog.Core.Configuration.HostInfo>

@{
    ViewBag.Title = "Main";
}

<section class="cl-head">
    <section class="cl-filters">
        <span class="cl-form-field cl-title">CaseLog</span>
        <div class="cl-form-field">
            <select class="cl-select" id="host-select">
                @foreach (var h in Model)
                {
                    <option value="@h.name">@h.name</option>
                }
            </select>
        </div>
        <div class="cl-form-field">
            <select class="cl-select" id="folder-select"></select>
        </div>
        <div class="cl-form-field">
            <select class="cl-select" id="file-select"></select>
        </div>
        <div class="cl-form-field">
            <select id="log-filter"></select>
        </div>
        <div class="cl-form-field">
            <button id="refresh" class="no-text"></button>
        </div>

        <div class="cl-form-field flex-right">
            <div id="toolbar" class="">
                <button id="reload-config">Reload config</button>
                <a href="https://github.com/andy250/caselog/issues" target="_target">
                    <button id="report-issue">Report issue</button>
                </a>
            </div>
        </div>
    </section>
</section>

<section class="cl-content">
    <div id="main-log" class="cl-log">

    </div>
</section>

@section js
{
    <script src="~/Static/scripts/LogNavigator.js"></script>
    <script src="~/Static/scripts/LogReader.js"></script>
    <script src="~/Static/scripts/Tools.js"></script>
}

@section docReady
{
    var logReader = $(document).find('.cl-content');

    $(document)
        .on('lognavigatorread', function (e, data) {
            logReader.LogReader('read', data);
        })
        .on('lognavigatorrefresh', function (e, data) {
            logReader.LogReader('refresh');
        })
        .on('lognavigatorfilter', function (e, data) {
            logReader.LogReader('filter', data);
        });
    
    logReader.LogReader({
        log: '#main-log',
        logEntry: '.cl-log-entry'
    });

    $(document).LogNavigator({
        host: '#host-select',
        folder: '#folder-select',
        file: '#file-select',
        level: '#log-filter',
        refresh: '#refresh'
    });

    $(document).find('#toolbar').Tools();
}