@model IEnumerable<andy250.CaseLog.Core.Configuration.HostInfo>
@{
    ViewBag.Title = "Main";
}

<h1>CaseLog</h1>

<section>
    <div class="cl-form-field oneline">
        <select class="cl-select" id="host-select">
            @foreach (var h in Model)
            {
                <option value="@h.unc">@h.name</option>
            }
        </select>
    </div>
    <div class="form-field oneline">
        <select class="cl-select" id="folder-select" disabled="disabled"></select>
    </div>
    <div class="form-field oneline">
        <select class="cl-select" id="file-select" disabled="disabled"></select>
    </div>
</section>

<section>
    File content...
</section>

@section js
{
    <script src="~/Static/scripts/LogNavigator.js"></script>
}

@section docReady
{
    $(document).LogNavigator({
        host: '#host-select',
        folder: '#folder-select',
        file: '#file-select'
    });
}