<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - CaseLog</title>
    <link href="~/Static/style/jquery-ui.css" rel="stylesheet" />
    <link href="~/Static/style/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Static/style/Site.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="~/Static/libs/jquery-1.10.2.js"></script>
    <script src="~/Static/libs/jquery-ui.js"></script>
    <script src="~/Static/libs/jquery.history.js"></script>
    <script src="~/Static/scripts/Master.js"></script>
    <script src="~/Static/scripts/Tools.js"></script>
    @RenderSection("js", required: false)
    <script>
        $(document).ready(function () {
            $(document).find('#toolbar').Tools();

            @RenderSection("docReady", required: false)
        });
    </script>
</body>
</html>
