<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - CaseLog</title>
    <link href="~/Static/style/Site.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Static/libs/jquery-1.10.2.js"></script>
</body>
</html>
